@import "../utils/colors.scss";

body {
  background: $background-color;
  margin: 0;
  padding: 0;
  color: $font__color;
  font-family: Arial;
}

.App {
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: $background-color;
}

#root {
  width: 100%;
}
